<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <div>
        The form contains <%= pluralize(@post.errors.count, "error") %>.
      </div>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>

  <%= f.text_field :title %>

  <%= f.label :body %>

   <%= f.text_area :body, size: "60x12" %>

  <%= f.submit "Create Post" %>
<% end %>